<br><br><br>

<div class="container">


  
  <h5 class="note note-info text-center">
 <br> <p style="font-size: 14px"><strong><b>Secure and efficient Etho Protocol mining pool made by miners for miners.</b></strong><br>Payouts are currently processed approximately every 2 hours if threshold is reached. </p>

<h7 class="note note-info text-center">
<p style="background-color:rgba(255, 255, 255, 0.1)">
<table width="100%" border="0">
  <tr>
    <td height="50" align="center"><br><b>Network Hash Rate:</b><br><img src="bar.png"><br><span>{{format-hashrate stats.hashrate}}</span><br></td>
    <td height="50" align="center"><br><b>Miners Online:</b><br><img src="bar.png"><br><span id="poolHashrate">{{format-number stats.model.minersTotal}}</span><br></td>
    <td height="50" align="center"><br><b>Blockchain Height:</b><br><img src="bar.png"><br><span>{{format-number stats.height}}</span><br></td>
    <td height="50" align="center"><br><b>Pool Fee:</b><br><img src="bar.png"><br><span>{{config.PoolFee}}</span><br></td>

  </tr>
  <tr>
    <td height="50" align="center"><b>Network Difficulty:</b><br><img src="bar.png"><br><span>{{with-metric-prefix stats.difficulty}}</span><br><br></td>
    <td height="50" align="center"><b>Pool Hash Rate:</b><br><img src="bar.png"><br><span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span><br><br></td>
    <td height="50" align="center"><b>Pool Mined Blocks:</b><br><img src="bar.png"><br><span>{{format-number model.maturedTotal}}</span><br><br></td>
    <td height="50" align="center"><b>Threshold:</b><br><img src="bar.png"><br><span>{{config.PayoutThreshold}}</span><br><br></td>
 
  </tr>
  </table>
 
  <table width="100%" border="0"> <tr>
  <td>{{#if config.highcharts.main.enabled}}{{high-charts mode=chartMode chartOptions=chartOptions content=chartData}}{{/if}}</td>
    
  </tr>

</table></p>

</h7>

<p style="background-color:rgba(255, 255, 255, 0.1)">
 <table align="center" width="90%" border="0">
   
  
	
	<td align="left">
	 <h8 style="font-size: 16px" class="note note-info text-left">
	
	
	 <br><strong>How to get started</strong><br><br>
		
	1. Get yourself a wallet - <a href="https://wallet.ethoprotocol.com/" rel="nofollow" target="_blank"><strong>Web Wallet</strong></a> or <a href="https://github.com/Ether1Project/Ether1DesktopWallet/releases" rel="nofollow" target="_blank"><strong>Desktop Wallet</strong></a><br>
2. Download mining software - Most popular can be found here : <a href="https://github.com/todxx/teamredminer/releases" rel="nofollow" target="_blank"><strong>AMD</strong></a> or <a href="https://github.com/trexminer/T-Rex/releases" rel="nofollow" target="_blank"><strong>NVidia</strong></a><br>
3. Edit .bat file<br>
4. Set Overclocks<br>
5. Start mining!<br><br>
	
<strong>Miner Settings</strong><br><br>
	 AMD - TeamRedMiner<br>
	  Teamredminer.exe -a ethash -o stratum+tcp://etho.club:8008 -u address -p x<br>
	 <br>
	 NVidia - T-REX Miner<br>
	 T-rex.exe -a ethash -o stratum+tcp://etho.club:8008 -u address -w worker -p x <br><br>
     
	
	
	</h8></td>
	
	<td align="center">
		    <h8 class="note note-info text-center">
		
	
			<br><strong>Hashrate Rental</strong><br>
	  	  <a href="https://www.miningrigrentals.com?ref=2614689" rel="nofollow" target="_blank"><img src="mrr-6811df9b76773a71e87ba1d887c6c2c3.png"></a> 
    
	
	</h8> </td></table></p>
	 
	 
	 <p style="background-color:rgba(255, 255, 255, 0.1)">
	 <h8 style="font-size: 16px" class="note note-info text-center">
	 
	
	<br><strong>Exchanges</strong><br>
	  <br>
	  <a href="https://www.kucoin.com/ucenter/signup?rcode=tJbaPR" rel="nofollow" target="_blank"><img src="kucoin.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://app.stex.com?ref=69532535" rel="nofollow" target="_blank"><img src="stex.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.probit.com/r/41620787" rel="nofollow" target="_blank"><img src="probit.png"></a><br><br>

	</h8> 
	
	</p>


	
  
	</h5>
    
 
  
  
	  
	  
	 
	

	<p style="text-align:center;"><a href="https://discord.com/invite/ZuKnWgq722" rel="nofollow" target="_blank"><img src="discord2.png"></a></p><br><br><br><br>
  </div>




